body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.markerRed {
    background-image: url('/images/icon/icon_red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.85;
}

.markerGreen {
    background-image: url('/images/icon/icon_green.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.85;
}

.markerPurple {
    background-image: url('/images/icon/icon_purple.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.85;
}

.markerBlue {
    background-image: url('/images/icon/icon_blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.85;
}

.mapboxgl-popup {
    max-width: 200px;
}
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    background-color: rgba(245, 245, 245, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapboxgl-popup-content p {
    margin-bottom: 0px;
}

.mapboxgl-popup-close-button {
    display:none;
}

#filter{
    position: absolute;
    z-index: 100;
    width: 80%;
    max-height: 40px;
    left: 10%; 
    border-radius: 25px;
    top: 87%;
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter div{
    margin-top: 2%;
}

.ecoles{
    color: rgba(0,149,76,255);
}

.livres{
    color: rgba(0,170,233,255);
}

.public{
    color: rgba(112,38,139,255);
}