
#quiz p{
    top: 25%;
    left: 26%;
    position: absolute;
    width: 30%;
}

#prof{
    margin: 100px 0 0 43%;
    width:40%;
}

#bulle{
    position: absolute;
    top: 400px;
    left: 20%;
    height: 200px;
    width: 32%;
    transform: rotate(180deg);
    background-image: url(../images/bulle.png);
    background-size: 100% 100%;
}



@media only screen and (max-width: 551px) {
    #bulle {
        top: 160px;
        height: 120px
    }
}

