.img-logo{
    width: 60px;
    height: 60px;
}
.white{
    color: white !important;
}
.right-text{
    text-align: right;
}
.vote_activite{
    position: absolute;
    margin: 0 30% ;
    margin-top: -100px !important;
    z-index: 999 !important;
    color: white !important;
    text-align: center !important;
    width: 200px !important;
    font-size: 20px !important;
}
.vote_activite a{
    color: white;
    margin-left: -45px;
}
.vote_activite a:hover{
    color: red;
}
.thumbs-box{
    display: flex;
    justify-content: space-around;
}
.mt-index-caroussel{
    z-index: -1;
}
.thumbs{
    font-size: 30px;
}
.border-none,
.border-none:focus,
.border-none:active{
    border: none;
    box-shadow: none;
}
.box-text-img{
    border-radius: 15px;
    background: #6a676778;
    padding: 10px;
    width: 80vw;
    position: absolute;
    z-index: 999;
    left: 40px;
    color: white;
    top: 55%;
}
.date-activity,
.lieu-activity,
.img-text-index{
    margin-bottom: 5px;
}
.date-activity,
.lieu-activity{
    font-size: 0.8rem;
}
.btn-participer,
.btn-vote{
    padding: 5px;
    background: black;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
}
.size-img-fifa{
    width: 218% !important;
}
.size-img-ping{
    width: 218% !important;
}
.size-img-loup{
    width: 220% !important;
}
.btn-vote{
    padding: 5px 20px;
}
.size-img-peinture{
    width: 390% !important;
}
.size-img-piscine{
    width: 386% !important;
}
.size-img-cinema{
    width: 145% !important;
}
.suggest{
    height: 54% !important;
}
.btn-suggest{
    width: 100%;
    margin: 3px;
}
.title-h3{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.close{
	opacity: 1;
	color: black;
    position: relative;
    text-align: right;
	right: 0px;
	top: 0px;
	font-size: 20px;
    cursor: pointer;
    z-index: 999;
}
.close a{
    text-decoration: none;
    color:black;
}
.carousel-inner img{
    height: 812px;
}

#displaynone{
    display: none
}

@media only screen and (max-height: 775px) {
    .suggest {
        height: 71% !important;
    }
}

@media only screen and (min-width: 450px) {
    div{
        display: none !important;
    }
    nav{
        display:none !important;
    }
    #displaynone{
        text-align: center;
        color: rgb(46, 15, 15);
        background: url("../images/tag-fernelmont.jpg");
        background-size: cover;
        display: block !important;
        width:100%;
        height: 800px;
        margin-top: -10%;
        padding-top: 15%;
    }
    #displaynone div{
        display: block !important;
        background-color: #ffffff45;
        width: fit-content;
        padding: 10px;
        border-radius: 15px;
        margin: 10% auto;
    }
}

