<div id="displaynone" >
    <div>
        <h1>Malheureusement, cette page n'est disponible que sur telephone</h1>
        <h2>La version ordinateur est en cours de construction</h2>    
    </div>
</div>

