<% if(typeof errors != 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <p><%= errors[0].msg %></p>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-danger" role="alert">
        <p><%= error %></p> 
    </div>
<% } %>