<nav class="navbar navbar-expand-lg navbar-dark bg-transparent z-index-nav fixed-top" id="fernelmoveNav">
    <div class="container-fluid">
        <a class="navbar-brand" <%= (typeof popOver != 'undefined') ? '' : 'href=/' %>><img class="img-logo" src="/images/logo-fernel-move.png" alt=""></a>
        <button class="navbar-toggler border-none" type="button" data-bs-toggle="<%= (typeof popOver != 'undefined') ? '' : 'collapse' %>" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" <%= (typeof popOver != 'undefined') ? 'disabled' : '' %>>
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/activity">Activités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/suggestion">Suggestions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/map">Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active right-text text-uppercase" aria-current="page" href="/users/my-account">Mon mompte</a>
                </li>
            </ul>
        </div>
    </div>
    <%- include ('./PopupMessages') %>
</nav>


