<div class="row login-box bodyLogin">
    <div class="box-container">
        <div class="close"><a href="/">Retour</a></div>
        <!-- &times; -->
        <%- include ('../partials/messages') %>
        <div class="row" style="width: 270px; height: 327px; overflow: scroll;">
            <div class="col-6 col-sm-4 col-lg-4 m-auto" action="/register" method="POST">
                <h1>EXPLICATION QUIZ</h1>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly
                    used to demonstrate the visual form of a document or a typeface without relying
                    on meaningful content.
            </div>
        </div>
    </div>
</div>
    
        