<!-- commentaire form -->
<div class="d-flex justify-content-center my-5">
    <div class="col-4">
        <h1> commentaire </h1>
        <form action="/commentaire" method="post">
            <textarea name="commentaire" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="">
        </form>
    </div>
</div>
<!-- End of Login form -->