<div class="row login-box bodyLogin">
    <form class="col-6 col-sm-4 col-lg-4 m-auto" method="POST" action="/login">
        <div class="box-container">
            <div class="close"><a href="/">Retour</a></div>
            <!-- &times; -->

            <h1>LOGIN</h1>

            <%- include ('../partials/messages') %>
            <div class="mb-3 ">
                
                <input type="text" class="form-control" id="InputUsername" placeholder="Pseudo" name="usernameEmail" value="<%= typeof email != 'undefined' ? email : '' %>" required>
            </div>
            
            <div class="mb-3">
                
                <input type="password" class="form-control" id="InputPassword" placeholder="Mot de passe"  name="password" required>

            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Check1">
                <label class="form-check-label" for="Check1">Se souvenir de moi</label>
            </div>
            <a href="/users/register">Créer un compte</a>
            <button type="submit" class="btn btn-primary m-auto btn-submit-login">OK</button>
        </div>
    </form>   
</div>
