

<div id='map'></div>

<div id='filter' class="d-flex justify-content-around">
    <div class="livres">
        <input type="checkbox" id="livres" checked>
        <label for="livres"> Boites à livres</label><br>
    </div>

    <div class="ecoles">
        <input type="checkbox" id="ecoles" checked> 
        <label for="ecoles"> Ecoles</label><br>
    </div>

    <div class="public">
        <input type="checkbox" id="public" checked>
        <label for="public"> Espace public</label><br><br>
    </div>
</div>


<script src="/js/map.js"></script>

