
<div class="row">
        
    <form class="col-6 col-sm-4 col-lg-4 m-auto">
        <h1>COMPTE</h1>
        <img src="/images/fille.jpg" class="d-block w-100 h-100" alt="...">

        <!-- <div class="text-center">
            <img src="/images/prof.png" class="rounded" alt="...">
            <img src="/images/prof.png" class="rounded-circle" alt="Cinque Terre"> 
        </div> -->
        <div class="mb-3 ">
            <label for="InputUsername" class="form-label">Ton pseudo</label>
            <input type="text" class="form-control" id="InputUsername" placeholder="<%= user.name %>">
        </div>
        <div class="mb-3 ">
            <label for="InputEmail" class="form-label">Ton adresse Email</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="<%= user.email %>">
        </div>
        <div class="mb-3">
            <label for="InputText" class="form-label">statut</label>
            <input type="text" class="form-control" id="InputText" placeholder="<%= (typeof statut != 'undefined') ? user.statut : 'statut' %> ">
        </div>
    
    <div class="row ">
        <div class="col-6 col-sm-4 col-lg-4 m-auto"></form>
        <h1>Centre d'intérêts</h1>
        <i class="fas fa-music"></i>
        <i class="fas fa-dice"></i>
        <i class="fas fa-film"></i>
        <i class="fas fa-book-reader"></i>
        <i class="fas fa-campground"></i>
        <i class="fas fa-paint-brush"></i>
        <i class="fas fa-paint-brush"></i>
        <button type="submit" class="btn btn-primary m-auto">CONFIRMER</button>
    </form>
        <!--  select?
        <a href="#" class="menu-item item-1"><i class="fas fa-music"></i></a>
        <a href="#" class="menu-item item-2"><i class="fas fa-dice"></i></a>
        <a href="#" class="menu-item item-3"><i class="fas fa-film"></i></a>
        <a href="#" class="menu-item item-4"><i class="fas fa-book-reader"></i></a>
        <a href="#" class="menu-item item-5"> <i class="fas fa-campground"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a> -->
        </div>
    </div>


    <!-- button menu -->
    <!-- <div class="menu m-auto">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open">
        <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
        </label>
    
        <a href="#" class="menu-item item-1"><i class="fas fa-music"></i></a>
        <a href="#" class="menu-item item-2"><i class="fas fa-dice"></i></a>
        <a href="#" class="menu-item item-3"><i class="fas fa-film"></i></a>
        <a href="#" class="menu-item item-4"><i class="fas fa-book-reader"></i></a>
        <a href="#" class="menu-item item-5"> <i class="fas fa-campground"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
    </div> -->

    </div>

    
    
    
    
    

    
</div>