<div class="row My-account-box bodyMy-account">
    <form class="col-6 col-sm-4 col-lg-4 m-auto" method="POST" action="/My-account">
        <div class="box-container">
            <h1>Mon compte</h1>
            <img src="<%= ( user.sexe == 'boy') ? '/images/avatar/garcon.jpeg' :(( user.sexe == 'girl') ? '/images/avatar/fille.jpeg' : '/images/avatar/none.jpeg' ) %>" class="d-block " alt="avatar">

            <div class="mb-3 ">
                <label for="InputUsername" class="form-label">Ton pseudo</label>
                <input type="text" class="form-control" id="InputUsername" placeholder="<%= user.name %>">
            </div>
            
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Ton adresse Email</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="<%= user.email %>">
            </div>

            <div class="mb-3">
                <label for="InputText" class="form-label">statut</label>
                <input type="text" class="form-control" id="InputText" placeholder="<%=(typeof statut != 'undefined') ? user.statut : 'statut' %> ">
            </div>
            <button type="submit" class="btn btn-primary m-auto">CONFIRMER</button>        
        </div>
    </form>   
</div>
