<h1>my-account</h1>

<a href="/logout" method="POST" class="btn hvr-hover">Log out</a>
<form action="/delete" method="post">
    <h4>Delete your account! </h4>
    
    <%- include ('../partials/messages') %>
    <label for="password" class="mb-0" required="true">Password:</label>
    <input
    class="form-control"
    type="password"
    name="password"
    placeholder="Enter Password"
    required
    />
    
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>