<div class="row login-box bodyLogin">
    <div class="col-6 col-sm-4 col-lg-4 m-auto">
        <div class="box-container">
            <div class="close"><a href="/users/login">Retour</a></div>
            
            <%- include ('../partials/messages') %>

            <form class="m-3 review-form-box" id="formRegister" action="/password" method="POST">
                <div class="form-row mb-5">
                    <div class="form-group col-md-12">
                        <label for="email" class="mb-0">Ton pseudo ou email:</label>
                        <input
                        id="forgot"
                        class="form-control"
                        type="text"
                        name="usernameEmail"
                        placeholder="Pseudo / Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>"
                        required
                        />
                    </div>
                </div>
                <button id="forgotButton" type="submit" class="btn btn-primary m-auto btn-submit-login">
                    <% if (typeof sent != 'undefined'){ %>
                        Resend Email
                    <% } else { %>
                        Reset Password 
                    <% } %>  
                </button>
            </form>
        </div>
    </div>   
</div>