<style>body{background:#bbb7b7}</style>
<div id="quiz">
    <img src="images/prof.png" alt="prof" id="prof" >
    <div id="bulle">
        <!-- <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa officiis in quo, rem, quaerat ratione sapiente eius laborum repudiandae dolore nam dolores voluptatum molestias perspiciatis fugiat nihil assumenda distinctio. Cum?</span> -->
    </div>
</div>