
<!-- <div id="quiz">
    <img src="images/prof.png" alt="prof" id="prof" >
    <img src="images/bulle.png" alt="bulle" id="bulle">
    <p>QUESTION ?</p>
</div> -->
<!-- <div class="card col-12 col-sm-4 col-lg-4 m-0" style="width: 100%;"> -->
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <!-- <div class="card-body">
      <h5 class="card-title">QUIZ</h5>
      <p class="card-text">Qui est-ce ?</p>
      
      
      <p>La Commune de Fernelmont a-t-elle un compte Instagram ?

        - Oui
        
        - Non</p>
    </div>
  </div> -->
<div class="avatar" style="z-index:99; position: absolute; left: 30%; top: 10%;">

    <img src="<%= ( user.sexe == 'boy') ? '/images/avatar/garcon.jpg' :(( user.sexe == 'girl') ? '/images/avatar/fille.jpg' : '/images/avatar/none.jpg' ) %>" style="position: relative; border-radius:50%; margin: auto; width: 150px; height: 150px;" class="d-block" alt="...">
    <p class="btn icon-btn btn-success avatarScore" href="#" style="position: absolute; margin: 0;"><%= user.points %>  points !</p>
    
</div>
  <div id="carouselExampleCaptions" class="carousel slide mt-index-caroussel" style="z-index: 1;" data-bs-ride="carousel">
    <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/Samuel Bastien.jpg" class="d-block w-100" alt="...">
        <div class="box-text-img">
            <h2 class="img-titre-index">Dans quel club de foot évolue le Fernelmontois Samuel Bastien ?</h2>
            <button>Cortil-Wodon</button>
            <br>
            <button>Royal Excel Mouscron</button>
            <br>
            <button>Standard de Liège</button>
        </div>
    </div>
    <div class="carousel-item">
        <img src="/images/Marchovelette.jpg" class="d-block w-100" alt="...">
        <div class="box-text-img">
            <h2 class="img-titre-index">Dans quel village pourras-tu profiter de cette aire multisports ?</h2>
            <button>Cortil-Wodon</button>
            <br>
            <button>Forville</button>
            <br>
            <button>Marchovelette</button>
        </div>
    </div>
    <div class="carousel-item">
        <img src="/images/tag-fernelmont.jpg" class="d-block w-100" alt="...">
        <div class="box-text-img">
            <h2 class="img-titre-index">La Commune de Fernelmont a-t-elle un compte Instagram ?</h2>
            <button>Oui</button>
            <br>
            <button>Non</button>
        </div>
    </div>
    </div>
    
</div>
