<div class="row">
    <form action="/register" method="POST" class="col-6 col-sm-4 col-lg-4 m-auto">
        <h1>INSCRIPTION</h1>
        <div class="mb-3 ">
            <label for="InputUsername" class="form-label">Ton pseudo</label>
            <input type="text" class="form-control" name="name" id="InputUsername" placeholder="Pseudo">
        </div>
        <div class="mb-3 ">
        <label for="InputEmail" class="form-label">Ton adresse Email</label>
        <input type="email" class="form-control" name="email" id="InputEmail" aria-describedby="emailHelp" placeholder="123@.com">
        <div id="emailHelp" class="form-text">Nous ne partagerons jamais ton adresse Email.</div>
        </div>
        <div class="mb-3">
        <label for="InputPassword" class="form-label">Ton mot de passe</label>
        <input type="password" name="password" class="form-control" id="InputPassword">
        </div>
        <div class="mb-3">
            <label for="InputPasswordConfirmation" class="form-label">Confirme ton mot de passe</label>
            <input type="password" class="form-control" name="password2" id="InputPasswordConfirmation">
            <div id="emailHelp" class="form-text">Ne partage jamais ton mot de passe, Il est privé!</div>
        </div> 
        <div class="col-6 col-sm-6 col-lg-6 m-auto select-box">
            <select class="form-select gender" aria-label="select gender ">
                <option selected>Sexe</option>
                <option value="boy">M</option>
                <option value="girl">F</option>
                <option value="nope">X</option>
            </select>
            <select class="form-select DDN" aria-label="select gender ">
            <option selected>D.D.N</option>
            </select>
        </div>
        <input class="form-control code-postale" type="text" placeholder="Code Postale" aria-label="Code Postale">
        <button type="submit" class="btn btn-primary m-auto">ENVOYER</button>
    </form>
    <div class="row ">
        <div class="col-6 col-sm-4 col-lg-4 m-auto"></form>
        <h1>Centre d'intérêt</h1>
        <div class="parent"> 
            <div class="music"><i class="fas fa-music"></i></div> 
            <div class="jeux"><i class="fas fa-dice"></i></div> 
            <div class="film"><i class="fas fa-film"></i></div> 
            <div class="livre"><i class="fas fa-book-reader"></i></div> 
            <div class="scout"><i class="fas fa-campground"></i></div> 
            <div class="art"><i class="fas fa-paint-brush"></i></div> 
            <div class="sport"><i class="fas fa-paint-brush"></i></div> 
            <div class="div8">div 8</div> 
            <div class="div9">div 9</div> 
            </div>
        
        
        
        
        
        
        
        <!--  select?
        <a href="#" class="menu-item item-1"><i class="fas fa-music"></i></a>
        <a href="#" class="menu-item item-2"><i class="fas fa-dice"></i></a>
        <a href="#" class="menu-item item-3"><i class="fas fa-film"></i></a>
        <a href="#" class="menu-item item-4"><i class="fas fa-book-reader"></i></a>
        <a href="#" class="menu-item item-5"> <i class="fas fa-campground"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a> -->
        </div>
    </div>


    <!-- button menu -->
    <!-- <div class="menu m-auto">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open">
        <label class="menu-open-button" for="menu-open">
          <span class="lines line-1"></span>
          <span class="lines line-2"></span>
          <span class="lines line-3"></span>
        </label>
      
        <a href="#" class="menu-item item-1"><i class="fas fa-music"></i></a>
        <a href="#" class="menu-item item-2"><i class="fas fa-dice"></i></a>
        <a href="#" class="menu-item item-3"><i class="fas fa-film"></i></a>
        <a href="#" class="menu-item item-4"><i class="fas fa-book-reader"></i></a>
        <a href="#" class="menu-item item-5"> <i class="fas fa-campground"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
        <a href="#" class="menu-item item-6"><i class="fas fa-paint-brush"></i></a>
    </div> -->

    </div>
  
    
    
    
    
    
   
    
</div>
  
  