<!-- suggestion form -->
<div class="row login-box">
    <div class="box-container padding-zero suggest">
        <div class="close"><a href="/">Retour</a></div>
        <!-- &times; -->
        <div class="d-flex justify-content-center my-3">
            <form class="col-12 col-sm-12 col-lg-12 m-auto" method="POST" action="/suggestion">
                    <h3 class="title-h3">SUGGESTION</h3>
                <form action="/suggestion" method="post">
                    <select name="suggestionTitle" class="btn-suggest" id="">
                        <option value="">Musique</option>
                        <option value="">Jeux vidéo</option>
                        <option value="">Jeux de société</option>
                        <option value="">Cinema</option>
                        <option value="">Livre</option>
                        <option value="">Scout</option>
                        <option value="">Art</option>
                        <option value="">Technologie</option>
                        <option value="">Devoir</option>
                        <option value="">Sport</option>
                        
                    </select>
                    <input type="text" class="btn-suggest" name="title" id="" placeholder="Titre de ton activité">
                    <textarea class="btn-suggest" name="suggestion" id="" cols="30" rows="10" placeholder="Propose une activité..."></textarea>
                    <button type="submit" class="btn btn-primary m-auto btn-suggest">ENVOYER</button>
                </form>
            </div>
        </div>
        <i class="far fa-question-circle" style="position: absolute; top: 764px; left: 311px;"></i>
    </div>
</div>

<!-- <strong>P</strong>ropose une activité que tu aimerais faire dans ta commune, elle sera votée par l’ensemble de la communauté Fernel move.   -->
