<h1>my-account</h1>

<a href="/logout" method="POST" class="btn hvr-hover">Log out</a>
<form action="/delete" method="post">
    <h4>Delete your account! </h4>
    
    <%- include ('../partials/messages') %>
    <label for="password" class="mb-0" required="true">Password:</label>
    <input
    class="form-control"
    type="password"
    name="password"
    placeholder="Enter Password"
    required
    />
    
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>


<div class="row">
    
    <form class="col-6 col-sm-4 col-lg-4 m-auto">
        <h1>INSCRIPTION</h1>
        <div class="mb-3 ">
            <label for="InputUsername" class="form-label">Ton pseudo</label>
            <input type="text" class="form-control" id="InputUsername" placeholder="Pseudo">
        </div>
        <div class="mb-3 ">
        <label for="InputEmail" class="form-label">Ton adresse Email</label>
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="123@.com">
        <div id="emailHelp" class="form-text">Nous ne partagerons jamais ton adresse Email.</div>
        </div>
        <div class="mb-3">
        <label for="InputPassword" class="form-label">Ton mot de passe</label>
        <input type="password" class="form-control" id="InputPassword">
        </div>
        <div class="mb-3">
            <label for="InputPasswordConfirmation" class="form-label">Confirme ton mot de passe</label>
            <input type="password" class="form-control" id="InputPasswordConfirmation">
            <div id="emailHelp" class="form-text">Ne partage jamais ton mot de passe, Il est privé!</div>
        </div>
        <div class="col-6 col-sm-6 col-lg-6 m-auto">
            <select class="form-select" aria-label="select gender ">
                <option selected>ton sexe</option>
                <option value="boy">Garçon</option>
                <option value="girl">Fille</option>
                <option value="nope">Ne veut pas dire</option>
            </select>
            <select class="form-select" aria-label="select gender ">
            <option selected>date de naissance // a faire </option>
            </select>
        </div>
        
    </form>
    <div class="row ">
        <div class="col-6 col-sm-4 col-lg-4 m-auto"></form>
            <h1>Centre d'intérêt</h1>
            <!-- <script>
                <i class="fas fa-music"></i>
                <i class="fas fa-dice"></i>
                <i class="fas fa-film"></i>
                <i class="fas fa-book-reader"></i>
                <i class="fas fa-campground"></i>
                <i class="fas fa-paint-brush"></i>
                <i class="fas fa-paint-brush"></i>
            </script> -->
        </div>
    </div>
</div>
  
    
    
    
    
    
   
    
</div>